
<ion-header>
  <ion-toolbar class="app-header">
    <ion-buttons slot="start">
      <ion-back-button color="light" [defaultHref]="'/teacher/classes/' + classId+'/courses'" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'LIST_TEST_DATE_TEXT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>

  <ion-card class="post-list-card" >
    <ion-grid class="course-card" *ngIf="programs && programs.length > 0 && !loading">
        <ion-row>
          <ion-col> {{'CLASS_TEXT' | translate }} : </ion-col>
          <ion-col>  {{ courseData ? courseData.name : '' }} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{'DESCRIPTION_TEXT' | translate }} : </ion-col>
          <ion-col>{{ courseData ? courseData.description : '' }}</ion-col>
        </ion-row>
    </ion-grid>
  </ion-card>

    <ion-grid class="deposit-date"  *ngIf="programs && programs.length > 0 && !loading">
        <ion-row>
          <ion-col size="3">{{'DATE_START_TEXT' | translate }}</ion-col> 
          <ion-col size="3"> {{'TIME_START_TEXT' | translate }}</ion-col>
          <ion-col size="3">{{'DATE_END_TEXT' | translate }}</ion-col>
          <ion-col size="3">{{'TIME_END_TEXT' | translate }}</ion-col>
        </ion-row>

        <ion-row *ngFor="let test of programs">
          <ion-col size="3">{{test ? test.date_debut : ''}}</ion-col> 
          <ion-col size="3"> {{test ? test.heure_debut : '' }}</ion-col>
          <ion-col size="3">{{test ? test.date_fin : '' }}</ion-col>
          <ion-col size="3">{{test ? test.heure_fin : '' }}</ion-col>
        </ion-row>
    </ion-grid>

  <div *ngIf="programs && programs.length === 0 && !loading">
    <p class="ion-text-center ion-padding">
      {{'EMPTY_PROGRAM_LIST_TEXT' | translate}}
    </p>
  </div>

</ion-content>
