
    .deposit-date {
        ion-row:not(:first-child) {
            font-size: .7rem;
        }
        ion-row {
            &:first-child{
                color: var(--ion-color-success);
            }
            ion-col {
                border: solid 1px #222;
            }
         
        }
    }

    .course-card {
        ion-row {
            ion-col { 
                &:first-child{
                   font-weight: bold;
                }
            }
        }
    }
  