<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="tuto-toolbar">
    <ion-title  class="ion-text-center" >
       <h2>{{ 'SMS_SCHOOL_MESSAGE' | translate }}</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="tutorial">

  <ion-slides pager="true" (ionSlideDidChange)="autoSlide()"  scrollbar="false" [options]="slideOpts">
    <ion-slide *ngFor="let p of slideData">
        <div class="tuto-image">
          <ion-img [src]="p.picture" ></ion-img>  
         
        </div>
        <div class="tuto-des">
          <p class="ion-text-start">{{p.description}} </p>
        </div>
    </ion-slide>
  </ion-slides>

</ion-content>

