<ion-toolbar slot="top" class="app-header">
  <ion-buttons slot="start">
    <ion-back-button color="light" defaultHref="/teacher" slot="text-only"></ion-back-button>
  </ion-buttons>
  <ion-title class="music-toolbar-title" >
    CLASSES
  </ion-title>
</ion-toolbar>

<ion-content>

  <ion-refresher slot="fixed" style="--ion-text-color: var(--ion-color-medium);" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>

  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>

  <ion-list>
    <ion-item *ngFor="let class of classes"  (click)="getCourses(class.classe_id)" >
      <ion-avatar slot="start">
        <img src="assets/img/course4.png">
      </ion-avatar>
      <ion-label>
        <h2>{{class.nom}}</h2>
        <p *ngIf="class.professeur_principal">{{'TEACHER_PRINCIPAL' | translate}} : {{class.professeur_principal ? class.professeur_principal.firstname : ''}} {{class.professeur_principal ? class.professeur_principal.lastname : ''}} </p>
        <p *ngIf="class.infos_type_enseignement">{{class.infos_type_enseignement ? class.infos_type_enseignement.nom : ''}}  </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
