<ion-header>
  <ion-toolbar class="app-header">
   <ion-buttons slot="start">
    <ion-back-button color="light" defaultHref="/teacher" slot="text-only"></ion-back-button>
  </ion-buttons>
    <ion-title>{{ "CHECK_ATTENDANCE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-view">
    <form [formGroup]="dataForm">
      <ion-grid>
          <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>{{ "CLASS_TEXT" | translate }}* : </ion-label>
              <ion-select (ionChange)="updateData(dataForm.value.classe_id)" class="custom-alert" formControlName="classe_id">
                <ion-select-option
                  [value]="class.classe_id"
                  *ngFor="let class of classes"
                  >{{ class.nom }}</ion-select-option
                >
              </ion-select>
            </ion-item>

            <div class="validation-errors">
              <ng-container
                *ngFor="let validation of validationMessages.classe_id"
              >
                <div
                  class="error-message"
                  *ngIf="
                    classe_id.hasError(validation.type) &&
                    (classe_id.dirty || classe_id.touched)
                  "
                >
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>


          <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>{{ "ATTENDANCE_PERIODE" | translate }}* : </ion-label>
              <ion-select  class="custom-alert" formControlName="fiche_presence_id">
                <ion-select-option
                  [value]="class.fiche_presence.id"
                  *ngFor="let attendance of attendancePeriode"
                  >{{ attendance.fiche_presence.semaine_start }} - {{ attendance.fiche_presence.semaine_end }}</ion-select-option
                >
              </ion-select>
            </ion-item>

            <div class="validation-errors">
              <ng-container
                *ngFor="let validation of validationMessages.fiche_presence_id"
              >
                <div
                  class="error-message"
                  *ngIf="
                    fiche_presence_id.hasError(validation.type) &&
                    (fiche_presence_id.dirty || fiche_presence_id.touched)
                  "
                >
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>{{ "HOUR_INTERVAL_TEXT" | translate }}* : </ion-label>
              <ion-select class="custom-alert" formControlName="numero_heure">
                <ion-select-option
                  [value]="hour"
                  *ngFor="let hour of hourList"
                  >{{ hour}}</ion-select-option
                >
              </ion-select>
            </ion-item>

            <div class="validation-errors">
              <ng-container
                *ngFor="let validation of validationMessages.numero_heure"
              >
                <div
                  class="error-message"
                  *ngIf="
                    numero_heure.hasError(validation.type) &&
                    (numero_heure.dirty || numero_heure.touched)
                  "
                >
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>


           <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating"
                >{{ "DAY_DATE_TEXT" | translate }}* :
              </ion-label>
              <ion-datetime
                formControlName="date_du_jour"
                displayFormat="YYYY-MM-DD"
                pickerFormat="YYYY-MM-DD"
              ></ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <ng-container
                *ngFor="let validation of validationMessages.date_du_jour"
              >
                <div
                  class="error-message"
                  *ngIf="
                    date_du_jour.hasError(validation.type) &&
                    (date_du_jour.dirty || date_du_jour.touched)
                  "
                >
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
   </ion-grid>
     </form>


      <ion-grid>

        <ion-row  *ngIf="studentList && studentList.length > 0">
        <ion-col size="12">
               <ion-list>
    <ion-item *ngFor="let student of studentList;let i= index" >
      <ion-checkbox slot="start"  [(ngModel)]="studentList[i].select" (click)="updateStudentList()" [checked]="studentList[i].select"  color="success"></ion-checkbox>
      <ion-label>
        <h2> {{student.eleve.firstname }} {{student.eleve.lastname }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
        </ion-col>
        </ion-row>
    
      </ion-grid>
 
  </div>

</ion-content>

<ion-footer>

  <div class="ion-padding ion-text-center">
    <ion-button
      expand="full"
      [disabled]="dataForm.invalid || loading || dataForm.value.liste_eleve && dataForm.value.liste_eleve.length === 0 "
      color="success"
      class="ion-text-uppercase"
      shape="round"
      (click)="checkStudentAttendance()"
    >
      {{ "SAVE_TEXT" | translate }}
    </ion-button>
    <p class="ion-text-center" *ngIf="loading">
      <ion-spinner name="circles"></ion-spinner>
    </p>
  </div>
</ion-footer>