<ion-header>
  <ion-toolbar class="app-header">
    <ion-title class="ion-padding">
      {{ 'UPDATE_COMMENT_TEXT' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="user-profil">

  <form [formGroup]="dataForm">
    <ion-grid>
     <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'ADVISE_TEXT' | translate }}* :</ion-label>
            <ion-textarea rows="5" type="text" formControlName="avis_eleve"></ion-textarea>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.advise">
              <div class="error-message" *ngIf="advise.hasError(validation.type) && (advise.dirty || advise.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-button expand="full" color="success" class="ion-text-uppercase" shape="round"
    [disabled]="loading ||  dataForm.invalid" (click)="updateComment()">
    {{ 'UPDATE_TEXT' | translate }}
  </ion-button>
  <ion-spinner *ngIf="loading" name="circles"></ion-spinner>
</ion-footer>