<ion-list class="ion-padding-top" class="dashboard-menu-popover">
  <ion-item (click)="newProgram()" lines="none">
    <ion-label>
      {{ 'NEW_PROGRAM_TEXT' | translate }}
    </ion-label>
  </ion-item>

  <ion-item (click)="viewProgram()" lines="none">
    <ion-label>
      {{ 'VIEW_PROGRAMM_TEXT' | translate }}
    </ion-label>
  </ion-item>

  <ion-item (click)="editProgram()" lines="none">
    <ion-label>
      {{ 'EDIT_PROGRAM_TEXT' | translate }}
    </ion-label>
  </ion-item>
</ion-list>