
<ion-header>
  <ion-toolbar class="app-header">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="'/student" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'MENU_STUDENT_TEXT_1' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>

  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>

  <ion-card>
      <ion-grid>
          <ion-row>
            <ion-col>{{'TYPE_TEACHING' | translate}} : </ion-col>
            <ion-col>{{classes && classes[0] && classes[0].infos_type_enseignement ? classes[0].infos_type_enseignement.nom : '' }}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col>{{'CLASS_TEXT' | translate}} : </ion-col>
            <ion-col>{{ classes && classes[0] && classes[0].nom ? classes[0].nom : '' }}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col>{{'DESCRIPTION_TEXT' | translate}} : </ion-col>
            <ion-col>{{classes && classes[0] && classes[0].description ? classes[0].description : '' }}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col>{{'TEACHER_PRINCIPAL_TEXT' | translate}} : </ion-col>
            <ion-col>{{classes && classes[0] && classes[0].professeur_principal ? classes[0].professeur_principal.firstname +' ' + classes[0].professeur_principal.lastname : '' }}</ion-col>
          </ion-row>

          
          <ion-row>
            <ion-col>{{'TIME_TABLE_TEXT' | translate}} : </ion-col>
            <ion-col>
                  <ion-button shape="small" (click)="viewTimeTable( classes[0] ? classes[0].emploi_de_temps : '')">
                    {{'VIEW_TEXT' | translate }}
                  </ion-button>
            </ion-col>
          </ion-row>

          
          <ion-row *ngIf="activeProgram">
            <ion-col>{{'TEST_PROGRAM_TEXT' | translate}} : </ion-col>
            <ion-col>
                  <ion-button shape="small" (click)="viewProgram(activeProgram)">
                    {{'VIEW_TEXT' | translate }}
                  </ion-button>
            </ion-col>
          </ion-row>
      </ion-grid> 
  </ion-card>


  <div *ngIf="activeProgram  && !loading">
    <p class="ion-text-center ion-padding">
      {{'EMPTY_PROGRAM_CLASS_TEXT' | translate}}
    </p>
  </div>

</ion-content>
