<ion-header>
  <ion-toolbar class="app-header">
    <ion-title>{{ "NEW_PERIODE" | translate }}</ion-title>
       <ion-buttons slot="end">
      <ion-button (click)="closModal()"
        slot="icon-only">
        <ion-icon color="light" name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-view">
    <form [formGroup]="dataForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>{{ "MONTH_TEXT" | translate }}* : </ion-label>
              <ion-select class="custom-alert" formControlName="mois">
                <ion-select-option
                  [value]="month.name"
                  *ngFor="let month of monthsList"
                  >{{ month.value }}</ion-select-option
                >
              </ion-select>
            </ion-item>

            <div class="validation-errors">
              <ng-container
                *ngFor="let validation of validationMessages.mois"
              >
                <div
                  class="error-message"
                  *ngIf="
                    mois.hasError(validation.type) &&
                    (mois.dirty || mois.touched)
                  "
                >
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating"
                >{{ "WEEK_START_TEXT" | translate }}* :
              </ion-label>
              <ion-datetime
                formControlName="semaine_start"
                displayFormat="YYYY-MM-DD"
                pickerFormat="YYYY-MM-DD"
              ></ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <ng-container
                *ngFor="let validation of validationMessages.semaine_start"
              >
                <div
                  class="error-message"
                  *ngIf="
                    semaine_start.hasError(validation.type) &&
                    (semaine_start.dirty || semaine_start.touched)
                  "
                >
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating"
                >{{ "WEEK_END_TEXT" | translate }}* :
              </ion-label>
              <ion-datetime
                formControlName="semaine_end"
                displayFormat="YYYY-MM-DD"
                pickerFormat="YYYY-MM-DD"
              ></ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <ng-container
                *ngFor="let validation of validationMessages.semaine_end"
              >
                <div
                  class="error-message"
                  *ngIf="
                    semaine_end.hasError(validation.type) &&
                    (semaine_end.dirty || semaine_end.touched)
                  "
                >
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <div class="ion-padding ion-text-center">
    <ion-button
      expand="full"
      [disabled]="dataForm.invalid || loading"
      color="success"
      class="ion-text-uppercase"
      shape="round"
      (click)="saveAttendancePeriode()"
    >
      {{ "SAVE_TEXT" | translate }}
    </ion-button>
    <p class="ion-text-center" *ngIf="loading">
      <ion-spinner name="circles"></ion-spinner>
    </p>
  </div>
</ion-content>
