<ion-list class="ion-padding-top" class="dashboard-menu-popover">

  <ion-item (click)="profile()" lines="none">
    <ion-label>
      {{ 'PROFILE_TEXT' | translate }}
    </ion-label>
  </ion-item>
  <ion-item (click)="logout()" lines="none">
    <ion-label>
      {{ 'LOGOUT_TEXT' | translate }}
    </ion-label>
  </ion-item>
</ion-list>