

  h1{
    font-weight: bold;
    color: black;
    font-size: 20px;
  }

  h2{
    font-weight: 400;
    color: var(--ion-color-success);;
    font-size:16px;
  }

  p{
    text-align: justify;
  }

  .title-toolbar{
    text-align: center;
    font-weight: bold;
  }



