<!--
  Generated template for the TermesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar class="app-header">
    <ion-title class="ion-text-center">{{'TERMES_AND_CONDITIONS' | translate}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding"  [scrollEvents]="true" (ionScroll)="getScrolling($event)" >

  <div [ngSwitch]="language">
    <div *ngSwitchCase="'fr'">


      <h1>
        Politique de Confidentialité Hellium Communication
      </h1>

      <p>
        Cette déclaration de confidentialité («Déclaration de confidentialité») s'applique au traitement des informations personnelles identifiables soumises par,
        ou obtenues de toute autre manière, en relation avec les Applications / Jeux de Hellium Communication Sarl. Toutes les applications / jeux sont fournis par
        Hellium Communication Sarl. En utilisant ou en accédant à l'une de nos Applications / Jeux,
        vous reconnaissez que vous acceptez les pratiques et politiques décrites dans cette Déclaration de confidentialité.
      </p>


      <h2>
        QUELLES INFORMATIONS PERSONNELLES Hellium Communication Sarl COLLECTE-T-IL?
      </h2>
      <p>
        Nous collectons les types d'informations suivantes auprès de nos utilisateurs:
        Informations personnelles que vous nous fournissez: Nous pouvons recevoir et stocker toute information que vous soumettez à l'Application
        (ou nous autoriser autrement à obtenir - par exemple, à partir de (par exemple) votre compte Facebook). Les types d'informations personnelles
        collectées peuvent inclure votre nom complet, votre adresse e-mail, votre sexe, votre adresse IP, votre navigateur, votre nom d'utilisateur,
        vos informations démographiques et toute autre information nécessaire
        pour nous fournir les services d'Application.
      </p>

      <p>
        Informations personnelles collectées automatiquement:
        Nous recevons et stockons certains types d'informations liées à l'utilisation lorsque vous interagissez avec nos applications / jeux.
        Par exemple, Hellium Communication Sarl peut automatiquement recevoir et enregistrer des informations concernant l'adresse IP de votre ordinateur,
        les informations du navigateur, l'ID utilisateur Facebook, l'état du fan de Facebook et les URL auxquelles vous accédez.
        Ces informations peuvent être partagées sous forme globale (non identifiable) avec nos partenaires.
      </p>

      <h2>
        COMMENT Hellium Communication Sarl UTILISE-T-IL LES INFORMATIONS QU'IL COLLECTE?
      </h2>

      <p>
        Hellium Communication Sarl utilise les informations décrites dans cette Déclaration de confidentialité (i) en interne pour analyser, développer
        et améliorer ses produits et services, et (ii) comme indiqué ci-dessous dans la section "Partage Hellium Communication Sarl
        de l'information personnelle qu'il recueille "section ci-dessous.
      </p>

      <h2>
        APPLICATIONS / JEUX PARTENAIRE TRAITEMENT DES RENSEIGNEMENTS PERSONNELS.
      </h2>

      <p>
        Hellium Communication Sarl peut fournir des informations personnelles au partenaire Applications / Jeux concerné. L'utilisation de vos informations
        personnelles par le Partenaire Applications / Jeux est soumise à la politique de confidentialité distincte du Partenaire Applications / Jeux - et non
        à cette Déclaration de confidentialité. La politique de confidentialité du partenaire
        Applications / Jeux est liée à l'application Facebook du partenaire.
      </p>

      <h2>
        Hellium Communication Sarl PARTAGERAIT-IL DES INFORMATIONS PERSONNELLES QU'IL RECOIT?
      </h2>

      <p>
        Les informations personnelles sur nos utilisateurs font partie intégrante de notre activité. Nous ne louons ni ne vendons vos informations personnelles à qui que ce soit
        (à l'exception du partage de vos informations avec un Partenaire Applications / Jeux applicable - voir la section «Applications - Traitement des partenaires» ci-dessus). Nous partageons vos informations personnelles uniquement comme décrit ci-dessous.
        Partenaires de l'application: Nous partagerons vos informations personnelles avec un partenaire Applications / Jeux concerné (voir la section «Traitement des applications / jeux partenaires» ci-dessus).
      </p>

      <p>
        Agents: Nous employons d'autres sociétés et personnes pour effectuer des tâches en notre nom et avons besoin de partager vos informations avec eux
        pour vous fournir des produits ou des services. À moins que nous ne vous disions différemment, les agents de Hellium Communication Sarl n'ont aucun
        droit d'utiliser les informations personnelles que nous partageons avec eux au-delà de ce qui est nécessaire pour nous aider. Par la présente,
        vous consentez à ce que nous partagions vos renseignements personnels aux fins susmentionnées. Transferts d'entreprises: Dans certains cas,
        nous pouvons choisir d'acheter ou de vendre des actifs. Dans ces types de transactions, les informations sur les clients sont généralement
        l'un des actifs commerciaux transférés. En outre, si Hellium Communication Sarl, ou la quasi-totalité de ses actifs ont été acquis, ou dans le cas
        improbable où Hellium Communication Sarl fait faillite ou fait faillite, l'information de l'utilisateur serait l'un des actifs transférés ou acquis
        par un tiers. Vous reconnaissez que de tels transferts peuvent se produire et que tout acquéreur de Hellium Communication Sarl peut continuer à
        utiliser vos informations personnelles comme indiqué dans cette politique.

      </p>

      <p>
        Protection des Hellium Communication Sarl et autres: Nous pouvons divulguer des informations personnelles lorsque nous croyons en bonne foi
        que la libération est nécessaire pour se conformer à la loi; appliquer ou appliquer nos conditions d'utilisation et autres accords; ou
        protéger les droits, la propriété ou la sécurité de Hellium Communication Sarl, nos employés, nos utilisateurs ou autres. Cela comprend
        l'échange d'informations avec d'autres sociétés et organisations pour la protection contre la fraude et
        la réduction du risque de crédit.
      </p>

      <p>
        Avec votre consentement: Sauf comme indiqué ci-dessus, vous serez informé lorsque vos informations personnelles peuvent être partagées avec
        des tiers, et sera en mesure d'empêcher le partage de ces informations.
      </p>

      <h2>
        CONDITIONS D'UTILISATION.
      </h2>

      <p>
        Si vous décidez d'utiliser ou d'accéder à l'une de nos Applications / Jeux, votre utilisation / accès et tout conflit éventuel sur la vie privée
        sont soumis à cette Déclaration de confidentialité et à nos Conditions d'utilisation,
        y compris les limitations de dommages, l'arbitrage loi d'état.
      </p>

      <h2>
        APPLICATIONS / SITES WEB DE TIERS.
      </h2>

      <p>
        Nos applications / jeux peuvent vous permettre de créer des liens vers d'autres applications ou sites Web. Ces applications / sites Web tiers
        ne sont pas sous le contrôle de Hellium Communication Sarl, et de tels liens ne constituent pas une approbation par Hellium Communication Sarl de
        ces autres applications / sites Web ou des services offerts par leur intermédiaire. Les pratiques de confidentialité et de sécurité de ces
        applications / sites Web tiers liés à l'Application ne sont pas couvertes par la présente Déclaration de confidentialité et Hellium Communication Sarl
        n'est pas responsable des pratiques de confidentialité ou de sécurité ou du contenu de ces sites
      </p>

      <h2>
        QUELLES INFORMATIONS PERSONNELLES PUIS-JE ACCÉDER?
      </h2>

      <p>
        Hellium Communication Sarl vous permet d'accéder aux informations suivantes à votre sujet dans le but de visualiser, et dans certaines situations,
        de mettre à jour ces informations. Cette liste peut changer si l'application change : - Informations sur le compte et le profil
        de l'utilisateur - Adresse e-mail de l'utilisateur, le cas échéant - Informations sur le profil Facebook,
        le cas échéant - Préférences de l'utilisateur - Données spécifiques à l'application .
      </p>


      <h2>
        LES ENFANTS PEUVENT-ILS UTILISER NOS APPLICATIONS / JEUX?
      </h2>

      <p>

        Notre site et les services disponibles via Hellium Communication Sarl ne sont pas destinés aux enfants de moins de 13 ans.
        Hellium Communication Sarl ne collecte pas sciemment ou spécifiquement des informations sur les enfants de moins de 13 ans et croit que l'âge devrait
        obtenir le consentement de leurs parents avant de divulguer des renseignements personnels.
        Nous vous encourageons à participer à l'expérience Web de votre enfant.

      </p>

      <h2>
        MODIFICATIONS DE CETTE DÉCLARATION DE CONFIDENTIALITÉ.
      </h2>

      <p>
        Hellium Communication Sarl peut modifier cette déclaration de confidentialité de temps en temps. L'utilisation des informations que nous recueillons
        est soumise à la déclaration de confidentialité en vigueur au moment où ces informations sont utilisées. Si nous apportons des modifications
        à la manière dont nous utilisons les informations personnelles, nous vous en informerons en publiant une annonce sur notre site ou en vous envoyant
        un e-mail. Les utilisateurs sont liés par tout changement apporté à la déclaration de confidentialité lorsqu'ils utilisent ou accèdent autrement
        à nos applications / jeux après
        que ces modifications ont été publiées pour la première fois.
      </p>


      <h2>
        QUESTIONS OU PRÉOCCUPATIONS
      </h2>

      <p>
        Si vous avez des questions ou des préoccupations concernant la confidentialité sur notre site Web, s'il vous plaît envoyez-nous un message détaillé à
        Hellium Communication Sarl.
        Nous ferons tout notre possible pour résoudre vos problèmes.
      </p>

      <br>

      <p>
        Date d'entrée en vigueur: 14 mai 2015
      </p>

    </div>

    <div *ngSwitchCase="'en'">

      <h1>
        Hellium Communication Privacy Policy
      </h1>
      <p>
        This privacy statement (“Privacy Statement”) applies to the treatment of personally identifiable information submitted by,
        or otherwise obtained from, you in connection with Hellium Communication Sarl's Applications/Games. All Applications/Games are provided
        by Hellium Communication Sarl. By using or otherwise accessing any of our
        Applications/Games, you acknowledge that you accept the practices and policies outlined in this Privacy Statement.
      </p>

      <h2>
        WHAT PERSONAL INFORMATION DOES Hellium Communication Sarl COLLECT ?
      </h2>
      <p>
        We collect the following types of information from our users:
        Personal Information You Provide to Us: We may receive and store any information you submit to the Application (or otherwise authorize us
        to obtain – such as, from (for example) your Facebook account). The types of personal information collected may include your full name, email
        address, gender, IP address, browser information, username, demographic information, and any other information
        necessary for us to provide the Application services.
      </p>

      <p>
        Personal Information Collected Automatically:
        We receive and store certain types of usage related information whenever you interact with our Applications/Games. For example,
        Hellium Communication Sarl may automatically receive and record information regarding your computer’s IP address, browser information,
        Facebook user ID, Facebook Page fan status, and URLs accessed. Such information may be shared in
        aggregate (non-personally identifiable) form with our partners.
      </p>

      <h2>
        HOW DOES Hellium Communication Sarl USE THE INFORMATION IT COLLECTS?
      </h2>
      <p>
        Hellium Communication Sarl uses the information described in this Privacy Statement (i) internally, to analyze, develop and improve its products and services,
        and (ii) as set forth below in the “Will
        Hellium Communication Sarl Share any of the personal information it Collects” section below.
      </p>

      <h2>
        APPLICATIONS/GAMES PARTNER TREATMENT OF PERSONAL INFORMATION.
      </h2>

      <p>
        Hellium Communication Sarl may provide personal information to the applicable Applications/Games Partner.
        The Applications/Games Partner’s use of your personal information is subject to the Applications/Games Partner’s separate privacy policy – and not this
        Privacy Statement.
        The Applications/Games Partner’s privacy policy is linked to from within the Partner’s Facebook application.
      </p>

      <h2>
        WILL Hellium Communication Sarl SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?
      </h2>

      <p>
        Personal information about our users is an integral part of our business. We neither rent nor sell your personal information to anyone
        (with the exception of sharing your information with an applicable Applications/Games Partner – see the “Applications? Games Partner Treatment”
        section above). We share your personal information only as described below.
        Application Partners: We will share your personal information with an applicable Applications/Games Partner (see the “Applications/Games Partner
        Treatment” section above).
      </p>

      <p>
        Agents: We employ other companies and people to perform tasks on our behalf and need to share your information with them to provide products or services
        to you. Unless we tell you differently, Hellium Communication Sarl’s agents do not have any right to use personal information we share with them beyond what
        is necessary to assist us. You hereby consent to our sharing of personal information for the above purposes. Business Transfers: In some cases, we may
        choose to buy or sell assets. In these types of transactions, customer information is typically one of the business assets that are transferred. Moreover, if Hellium Communication Sarl, or substantially all of its assets were acquired, or in the unlikely event that Hellium Communication Sarl goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of SDK GAMES AFRICA
        (Pty) may continue to use your personal information as set forth in this policy.
      </p>

      <p>
        Protection of Hellium Communication Sarl and Others: We may release personal information when we believe in good faith that release is necessary
        to comply with the law; enforce or apply our conditions of use and other agreements; or protect the rights, property, or safety of Hellium Communication Sarl,
        our employees, our users, or others. This includes exchanging information with other companies and
        organizations for fraud protection and credit risk reduction.
      </p>

      <p>
        With Your Consent: Except as set forth above, you will be notified when your personal information may be shared with third parties, and will be able to prevent the sharing of this information.
      </p>

      <h2>
        CONDITIONS OF USE.
      </h2>

      <p>
        If you decide to use or otherwise access one of our Applications/Games, your use/access and any possible dispute over privacy is subject to this Privacy Statement and our Terms of Use, including limitations on damages,
        arbitration of disputes, and application of California state law.
      </p>

      <h2>
        THIRD PARTY APPLICATIONS/WEBSITES.
      </h2>

      <p>
        Our Applications/Games may permit you to link to other applications or websites. Such third party applications/websites are not under Hellium Communication Sarl’s
        control, and such links do not constitute an endorsement by Hellium Communication Sarl of those other applications/websites or the services offered through them.
        The privacy and security practices of such third party application/websites linked to the Application are not covered by this Privacy Statement, and Hellium Communication Sarl is not responsible for the privacy or security
        practices or the content of such websites.
      </p>

      <h2>
        WHAT PERSONAL INFORMATION CAN I ACCESS ?
      </h2>

      <p>
        Hellium Communication Sarl allows you to access the following information about you for the purpose of viewing, and in certain situations,
        updating that information. This list may change in the event the Application changes. - Account and user profile information - User e-mail address,
        if applicable - Facebook profile information,
        if applicable - User preferences - Application specific data
      </p>

      <h2>
        CAN CHILDREN USE OUR APPLICATIONS/GAMES?
      </h2>

      <p>
        Our site and the services available through Hellium Communication Sarl are not intended for children under the age of 13. Hellium Communication Sarl
        does not knowingly or specifically collect information about children under the age of 13 and believes that children of any age should get their
        parents’ consent before giving out any personal information.
        We encourage you to participate in your child’s web experience.
      </p>

      <h2>
        CHANGES TO THIS PRIVACY STATEMENT.
      </h2>

      <p>
        Hellium Communication Sarl may amend this Privacy Statement from time to time. Use of information we collect now is subject to the Privacy Statement
        in effect at the time such information is used. If we make changes in the way we use personal information, we will notify you by posting an announcement
        on our Site or sending you an email. Users are bound by any changes to
        the Privacy Statement when he or she uses or otherwise accesses our Applications/Games after such changes have been first posted.
      </p>

      <h2>
        QUESTIONS OR CONCERNS.
      </h2>

      <p>
        If you have any questions or concerns regarding privacy on our Website, please send us a detailed message at Hellium Communication Sarl.
        We will make every effort to resolve your concerns.
      </p>

      <br>

      <p>Effective Date: May 14, 2021</p>

    </div>

  </div>

</ion-content>

<ion-footer  *ngIf="showNextBtn">
  <ion-toolbar color="light" (click)="close()">
    <ion-title class="title-toolbar">{{'NEXT' | translate }}</ion-title>
  </ion-toolbar>
</ion-footer>
