<ion-header>
  <ion-toolbar class="app-header">
    <ion-buttons slot="start">
      <ion-back-button color="light" [defaultHref]="'/teacher/classes/' + classID+'/courses'" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding ion-no-margin">
      {{ 'TEXTBOOK_TEXT' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-refresher slot="fixed" style="--ion-text-color: var(--ion-color-medium);" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>

  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>

    <!-- Users textbook -->
   
    <ng-container>

      <ion-card class="course-card" *ngIf="!loading">
        <ion-grid>
            <ion-row>
              <ion-col> {{'CLASS_TEXT' | translate }} : </ion-col>
              <ion-col>  {{ classData ? classData.nom : '' }} </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>{{'COURSE_TEXT' | translate }} : </ion-col>
              <ion-col>{{ courseData ? courseData.name : '' }}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col>{{'TEACHER_TEXT' | translate }} : </ion-col>
              <ion-col>{{ teacherData ? teacherData.firstname + ' ' + teacherData.lastname : '' }}</ion-col>
            </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card class="post-list-card" *ngFor="let textbook of textbooks">
        <ion-item lines="none">
          <ion-label>
            <p> <span>{{'CHAPTER_TEXT' | translate }} :</span>  {{textbook.infos_chapitre.numero}}.{{textbook.infos_chapitre.name}} </p>
            <p> <span>{{'SUB_CHAPTER_TEXT' | translate }} :</span>  {{textbook.infos_sous_chapitre.numero}}.{{textbook.infos_sous_chapitre.name}} </p>
            <p><span>{{'SUB_TITLE_TEXT' | translate }} :</span>  {{textbook.infos_sous_titre_sous_chapitre.numero}}.{{textbook.infos_sous_titre_sous_chapitre.name}} </p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="medium" (click)="openMenu($event, textbook)">
              <ion-icon slot="icon-only" md="ellipsis-vertical-outline" ios="ellipsis-horizontal-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-card-content class="post-list-content">
          {{textbook.avis_prof}}
          <p>
            <ion-text class="ion-float-right">
              {{textbook.updated_at}}
            </ion-text>
           </p>
        </ion-card-content> 
      </ion-card>
    </ng-container>
  
    <div *ngIf="textbooks && textbooks.length === 0 && !loading">
      <p class="ion-text-center ion-padding">
        {{'EMPTY_TEXTBOOK_LIST_TEXT' | translate}}
      </p>
    </div>
</ion-content>