
<ion-header>
  <ion-toolbar class="app-header">
    <ion-buttons slot="start">
      <ion-back-button color="light" [defaultHref]="'/teacher/classes/' + classId+'/courses'" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'VIEW_PROGRAMM_TEXT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>

  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>

  <ion-list>
    <ion-item *ngFor="let prog of programs;let i= index" >
      <ion-toggle slot="start"  [(ngModel)]="programs[i].select" (click)="updateSelectProgram(prog)" [checked]="programs[i].select"  color="success"></ion-toggle>
      <ion-label>
        <h2> {{ 'PROGRAM_TEST_OF' | translate }} : {{prog.updated_at  | date:'mediumDate'}}</h2>
      </ion-label>
      <ion-button  slot="end"   color="dark"  (click)="viewProgram(prog)">
        {{'VIEW_TEXT' | translate}}
      </ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="programs && programs.length === 0 && !loading">
    <p class="ion-text-center ion-padding">
      {{'EMPTY_PROGRAM_LIST_TEXT' | translate}}
    </p>
  </div>

</ion-content>
