<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="closeCountries()">
        <ion-icon color="success" name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="dark" class="ion-text-center subtitle">
      {{'COUNTRY_LIST_TEXT' | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
      <ion-searchbar placeholder="{{ 'M_NAME_TEXT' | translate }}" type="text" debounce="500" (ionChange)="searchForInvitation($event)" type="text"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreSher($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="{{ 'M_REFRESHING_TEXT' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>
  <ion-grid *ngIf="states && states.length > 0 && !loading">
    <ion-row>
      <ion-col size="12">
        <ion-radio-group (ionChange)="selectCountry($event)">
          <ion-item  *ngFor="let country of states">
            <ion-avatar slot="start" *ngIf="country &&country.flag">
              <img src="{{country.flag ? country.flag : ''}}">
            </ion-avatar>
            <ion-label>{{ country && country.country_name ? country.country_name : '' }}</ion-label>
            <ion-radio slot="end" [value]="country"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div  *ngIf="states && states.length === 0 && !loading &&!filter">
    <p  class="ion-padding ion-text-center"> {{ 'EMPTY_COUNTRY_LIST' | translate }}</p>
  </div>

  <ion-infinite-scroll threshold="250px" (ionInfinite)="infinteScrollData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'M_LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>