<ion-header>
  <ion-toolbar class="app-header">
    <ion-buttons slot="start">
    <ion-back-button color="light" defaultHref="/teacher/attendance" slot="text-only"></ion-back-button>
  </ion-buttons>
    <ion-title>{{'STUDENT_ATTENDANCE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
