<ion-header [translucent]="true">
  <ion-toolbar class="app-header">
    <ion-title>
      {{'STUDENT_ADVISE' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" style="--ion-text-color: var(--ion-color-medium);" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>

  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>

  <ion-list lines="none">
    <ion-item *ngFor="let student of studentAdvise" (click)="showOption(student)">
      <ion-avatar slot="start">
        <img [src]="getCurrentStudentData(studentList,student.eleve_id) && getCurrentStudentData(studentList,student.eleve_id).picture ? getCurrentStudentData(studentList,student.eleve_id).picture : 'assets/img/4.png'">
      </ion-avatar>
      <ion-label>
          <h3>{{getCurrentStudentData(studentList,student.eleve_id) && getCurrentStudentData(studentList,student.eleve_id).firstname ? getCurrentStudentData(studentList,student.eleve_id).firstname  
            + ' ' + getCurrentStudentData(studentList,student.eleve_id).lastname : 'No name'}}</h3>
            <p>{{student.avis}}</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <div *ngIf="studentAdvise && studentAdvise.length === 0 && !loading">
    <p class="ion-text-center ion-padding">
      {{ 'EMPTY_STUDENT_ADVISE_LIST_TEXT' | translate }}
    </p>
  </div>

</ion-content>

<ion-footer>
  <ion-row class="no-wrap">
    <ion-col size="10">
      <textarea [(NgModel)]="advise" #comment  rows="2"></textarea>
    </ion-col>
    <ion-col  size="2">
      <ion-button [disabled]="!advise" shape="small" (click)="sendComment()" slot="icon-only">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>