
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/teacher/classes" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding ion-no-margin">
      {{ 'COURSES_TEXT' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="openClassMenu($event)">
        <ion-icon slot="icon-only" md="ellipsis-vertical" ios="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="course-page" [fullscreen]="false">

  <ion-refresher slot="fixed" style="--ion-text-color: var(--ion-color-medium);" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>

  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>

    <!-- Users courses -->
    <ng-container>
      <ion-card class="post-list-card" *ngFor="let course of courses">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="assets/img/course1.png">
          </ion-avatar>
          <ion-label>
            {{course.name}} 
            <p>{{'COEF_TEXT' | translate }} :  {{course.coefficient}} </p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="medium" (click)="openMenu($event, course)">
              <ion-icon slot="icon-only" md="ellipsis-vertical-outline" ios="ellipsis-horizontal-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-card-content class="post-list-content">
          {{course.description}}
        </ion-card-content> 
      </ion-card>
    </ng-container>

    <div *ngIf="courses && courses.length === 0 && !loading">
      <p class="ion-text-center ion-padding">
        {{'EMPTY_COURSE_LIST_TEXT' | translate}}
      </p>
    </div>

</ion-content>