<ion-list class="ion-padding-top" class="dashboard-menu-popover">
  <ion-item (click)="editAdvise()" lines="none">
    <ion-label>
      {{ 'UPDATE_TEXT' | translate }}
    </ion-label>
  </ion-item>

  <ion-item (click)="delteAdvise()" lines="none">
    <ion-label>
      {{ 'DELETE_TEXT' | translate }}
    </ion-label>
  </ion-item>
</ion-list>