<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/user-login"></ion-back-button>
    </ion-buttons>
    <ion-title >{{'SIGN_UP_TEXT' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-page">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
        <form [formGroup]="register" >
    
          <p class="ion-text-center">SMS SCHOOL ALERT</p>

          <ion-list class="ion-margin">
            <ion-item>
              <ion-input type="text" placeholder="{{'FIRST_NAME_TEXT' | translate}}" formControlName="first_name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="{{'LAST_NAME_TEXT' | translate}}" formControlName="last_name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" placeholder="{{'EMAIL_TEXT' | translate}}" formControlName="email"></ion-input>
            </ion-item>
            <ion-item  class="ion-no-inner-padding-end">
              <ion-input type="password" placeholder="{{'PASSWORD_TEXT' | translate}}" formControlName="password"></ion-input>
            </ion-item>
            <ion-item class="ion-no-inner-padding-end">
              <ion-input type="password" placeholder="{{'PASSWORD_TEXT' | translate}} ({{'CONFRIM_TEXT' | translate}})" formControlName="password_confirm">
              </ion-input>
            </ion-item>
          </ion-list>
          <span class="ion-margin"></span>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button color="success" expand="full" 
  [disabled]="!register.valid" (click)="onRegister()">
 {{'SAVE_TEXT' | translate}}
</ion-button>

</ion-footer>