<ion-list class="ion-padding-top" class="dashboard-menu-popover">
 
  <ion-item (click)="viewTextBook()" lines="none">
    <ion-label>
      {{ 'LIST_TEXTBOOK_TEXT' | translate }}
    </ion-label>
  </ion-item>
  
</ion-list>