

ion-toolbar.with-logo2 {
    .title-md {
        padding-inline-start: 0;
        padding-inline-end: 0;
    }
    .title-md-right {
        padding-right: 40px;
    }
}

ion-toolbar {
    --min-height: 60px;
    .logo-no-right-slot {
        height: 3rem;
        margin: 10px auto 0 auto;
    } 
    .logo-no-right-slot.md {
        margin: 10px auto 0 40px;
    } 
    ion-title {
        font-weight: 400;
        font-size: 1.4rem;
    }
}


.dashboard {
    --padding-top: 15%;
    --background:var(--ion-color-medium);
    --ion-grid-column-padding: 10px;
    /* --background: #fcfcfc url(./assets/pattern.png) bottom center repeat-x; */
    .thumb-img {
        height: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
.dashboard > ion-grid > ion-row > ion-col {
    border: 1px solid #ccc;
    background: #fff;
    margin: 0.5rem;
    border-radius: .5rem;
}