<ion-header>
  <ion-toolbar class="app-header">
   <ion-buttons slot="start">
    <ion-back-button color="light" defaultHref="/teacher/attendance" slot="text-only"></ion-back-button>
  </ion-buttons>
    <ion-title>{{'ATTENDANCE_PERIODE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>

  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>

  <ion-list>
    <ion-item *ngFor="let attend of attendancePeriode;let i= index" >
      <ion-toggle slot="start"  [(ngModel)]="attendancePeriode[i].select" (click)="updatupdateSelectedAttendancePeriodeSelectProgram(attend.fiche_presence)" [checked]="attendancePeriode[i].select"  color="success"></ion-toggle>
      <ion-label>
        <h2> {{ 'ATTENDANCE_MONTH_TEXT' | translate }} : {{ attend.fiche_presence.mois }}</h2>
        <h3> {{ 'ATTENDANC_WEEK_TEXT' | translate }} : {{ attend.fiche_presence.semaine_start | date:'mediumDate' }} - {{ attend.fiche_presence.semaine_end | date:'mediumDate' }}</h3>
      </ion-label>
        <ion-buttons slot="end">
            <ion-button color="medium" (click)="detailAttendance(attend)">
              <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
    </ion-item>
  </ion-list>


 <ion-fab vertical="bottom"  horizontal="end" slot="fixed" (click)="newAttendanceTime()">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    <div *ngIf="attendancePeriode && attendancePeriode.length === 0 && !loading">
      <p class="ion-text-center ion-padding">
        {{'EMPTY_ATTENDANCE_PERIODE_TEXT' | translate}}
      </p>
    </div>
</ion-content>
