<ion-header>
  <ion-toolbar class="app-header">
    <ion-buttons slot="start">
      <ion-back-button color="light" [defaultHref]="'/teacher/classes/' + classId+'/courses'" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'NEW_PROGRAM_TEXT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
    </ion-refresher>

  <div class="form-projet">
    <form [formGroup]="dataForm">
      <ion-grid>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>{{ 'PROGRAM_TEXT' | translate }}* : </ion-label>
              <ion-select  formControlName="programme_id">
                <ion-select-option [value]="prog.id" *ngFor="let prog of programs">  {{ 'PROGRAM_TEST_OF' | translate }} : {{ prog.updated_at | date:'mediumDate' }}</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.programme_id">
                <div class="error-message"
                  *ngIf="programme_id.hasError(validation.type) && (programme_id.dirty || programme_id.touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="ion-text-center">
              {{ 'PROGRAMM_MSG' | translate }}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-padding">
            <input accept="application/pdf" #fileInput type="file" (change)="getFile($event)" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <div class="ion-padding ion-text-center">
    <ion-button expand="full" [disabled]="dataForm.invalid || loading" color="success" class="ion-text-uppercase"
      shape="round" (click)="editProgram()">
      {{'UPDATE_TEXT' | translate}}
    </ion-button>
    <p class="ion-text-center" *ngIf="loading">
      <ion-spinner name="circles"></ion-spinner>
    </p>
  </div>

</ion-content>