<ion-header>
  <ion-toolbar color="success">
    <ion-title>{{ 'CHANGE_PASSWORD_TEXT' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="ignoreStep()">
        {{'IGNORE_TEXT' | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="forgot-pass">

  <p class="ion-margin-start ion-margin-end" [innerHTML]="'CHANGE_PASS_MSG' | translate"></p>


  <form [formGroup]="forgot">
  <ion-list color="light" class="ion-margin">
    
    <ion-item lines="none" color="light" >
      <ion-input type="text" placeholder="{{'OLD_PASSWORD_TEXT' | translate}}"formControlName="ancien_password"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.passwordOld">
        <div class="error-message" *ngIf="passwordOld.hasError(validation.type) && (passwordOld.dirty || passwordOld.touched)">
          <ion-icon name="information-circle-outline" ></ion-icon>
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item lines="none" color="light" >
      <ion-input  [type]="canShow ? 'text' : 'password'" placeholder="{{'NEW_PASSWORD_TEXT' | translate}}" formControlName="nouveau_password"></ion-input>
      <ion-button slot="end" fill="clear" class="ion-no-margin" (click)="updateType()" >
        <ion-icon slot="icon-only"  color="dark" [name]="canShow ? 'eye-off' : 'eye'" ></ion-icon>
      </ion-button>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.passwordNew">
        <div class="error-message" *ngIf="passwordNew.hasError(validation.type) && (passwordNew.dirty || passwordNew.touched)">
          <ion-icon name="information-circle-outline" ></ion-icon>
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

  </ion-list>
</form>

</ion-content>


<ion-footer>
  <ion-button [disabled]="forgot.invalid || loading" (click)="reset()" color="success" expand="block" class="ion-margin-start ion-margin-end ion-margin-bottom" >
    {{ 'RESET_TEXT' | translate }}
 </ion-button> 
</ion-footer>