<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button color="light" [defaultHref]="'/teacher/classes/' + classId +'/courses'" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ADD_TEST_DATE_TEXT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="form-view">
    <form [formGroup]="dataForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{ 'DATE_START_TEXT' | translate }}</ion-label>
              <ion-datetime  formControlName="date_debut" displayFormat="YYYY-MM-DD"   pickerFormat="YYYY-MM-DD"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.date_debut">
                <div class="error-message"
                  *ngIf="date_debut.hasError(validation.type) && (date_debut.dirty || date_debut.touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{ 'TIME_START_TEXT' | translate }}</ion-label>
              <ion-datetime  formControlName="heure_debut" displayFormat="HH:mm:ss"   pickerFormat="HH:mm:ss"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.heure_debut">
                <div class="error-message"
                  *ngIf="heure_debut.hasError(validation.type) && (heure_debut.dirty || heure_debut.touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{ 'DATE_END_TEXT' | translate }}</ion-label>
              <ion-datetime  formControlName="date_fin" displayFormat="YYYY-MM-DD"   pickerFormat="YYYY-MM-DD"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.date_fin">
                <div class="error-message"
                  *ngIf="date_fin.hasError(validation.type) && (date_fin.dirty || date_fin.touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{ 'TIME_END_TEXT' | translate }}</ion-label>
              <ion-datetime  formControlName="heure_fin" displayFormat="HH:mm:ss"   pickerFormat="HH:mm:ss"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.heure_fin">
                <div class="error-message"
                  *ngIf="heure_fin.hasError(validation.type) && (heure_fin.dirty || heure_fin.touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span [innerHTML]="validation.message"></span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <div class="ion-padding ion-text-center">
    <ion-button expand="full" [disabled]="dataForm.invalid || loading" color="success" class="ion-text-uppercase"
      shape="round" (click)="addTestDateProgram()">
      {{'SAVE_TEXT' | translate}}
    </ion-button>
    <p class="ion-text-center" *ngIf="loading">
      <ion-spinner name="circles"></ion-spinner>
    </p>
  </div>

</ion-content>