<ion-list class="ion-padding-top" class="dashboard-menu-popover">
  <ion-item (click)="fillTextBook()" lines="none">
    <ion-label>
      {{ 'FILL_TEXTBOOK_TEXT' | translate }}
    </ion-label>
  </ion-item>

  <ion-item (click)="viewTextBook()" lines="none">
    <ion-label>
      {{ 'LIST_TEXTBOOK_TEXT' | translate }}
    </ion-label>
  </ion-item>

  <ion-item (click)="addTestDate()" lines="none">
    <ion-label>
      {{ 'ADD_TEST_DATE_TEXT' | translate }}
    </ion-label>
  </ion-item>

  <ion-item (click)="getTestDate()" lines="none">
    <ion-label>
      {{ 'LIST_TEST_DATE_TEXT' | translate }}
    </ion-label>
  </ion-item>
</ion-list>