<ion-header>
  <ion-toolbar class="app-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/user-login"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'FORGOT_PASSWORD_TEXT' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="forgot-pass">
  <p class="ion-margin-start ion-margin-end">
   {{'FORGOT_PASS_TEXT' | translate}}
  </p>
  <form [formGroup]="forgot">
  <ion-list color="medium" class="ion-margin">
    <ion-item lines="none" color="medium">
      <ion-input  color="dark" type="text" placeholder="{{'MATRICULE_TEXT' | translate}}" formControlName="matricule"></ion-input>
    </ion-item>
    <ion-item lines="none" color="medium" *ngIf="isMatriculeValid">
      <ion-input color="dark" type="text" placeholder="{{'CODE_TEXT' | translate}}" formControlName="code"></ion-input>
    </ion-item>
    <ion-item lines="none" color="medium" *ngIf="isMatriculeValid">
      <ion-input color="dark" [type]="canShow ? 'text' : 'password'"  placeholder="{{'PASSWORD_TEXT' | translate}}" formControlName="password"></ion-input>
      <ion-button slot="end" fill="clear" class="ion-no-margin" (click)="updateType()" >
        <ion-icon slot="icon-only"  color="dark" [name]="canShow ? 'eye-off' : 'eye'" ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</form>

</ion-content>


<ion-footer>

  <ion-button *ngIf="!isMatriculeValid" [disabled]="matricule.invalid || loading" (click)="getCode()" color="success" expand="block" class="ion-margin-start ion-margin-end ion-margin-bottom" >
    {{'DONE_TEXT' | translate}}
  </ion-button>
  
  <ion-button *ngIf="isMatriculeValid" [disabled]="forgot.invalid || loading" (click)="reset()" color="success" expand="block" class="ion-margin-start ion-margin-end ion-margin-bottom" >
        {{ 'RESET_TEXT' | translate }}
  </ion-button>
  
</ion-footer>