<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button color="light" [defaultHref]="'/teacher/classes/' + classId+'/courses'" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'NEW_PROGRAM_TEXT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="form-projet">
    <form [formGroup]="dataForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="ion-text-center">
              {{ 'PROGRAMM_MSG' | translate }}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-padding">
            <input accept="application/pdf" #fileInput type="file" (change)="getFile($event)" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <div class="ion-padding ion-text-center">
    <ion-button expand="full" [disabled]="loading || !dataForm.value.programme" color="success" class="ion-text-uppercase"
      shape="round" (click)="newProgram()">
      {{'SAVE_TEXT' | translate}}
    </ion-button>
    <p class="ion-text-center" *ngIf="loading">
      <ion-spinner name="circles"></ion-spinner>
    </p>
  </div>

</ion-content>