
<ion-header id="profil-toolbar">
  <!--   -->
  <ion-toolbar class="toolbar-img"
    [ngStyle]="{
      'background': (currentUser && !currentUser.picture) ? 'url('+defaultImage+')':'url('+currentUser.picture+')',
      'background-repeat': 'no-repeat',
      'background-size': 'cover',
      'background-position': 'center center'
    }"
    [myScrollVanish]="scrollArea" > 
    <ion-buttons  slot="start" *ngIf="canShowBackButton !== 'yes'">
      <ion-button  (click)="goback()">
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons> 
 
    <ion-buttons  slot="end"  *ngIf="canShowBackButton !== 'yes'">
      <ion-button (click)="getPicture()">
        <ion-icon name="camera" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar-img-title">
    <ion-buttons (click)="goback()" slot="start" *ngIf="canShowBackButton !== 'yes'">
      <ion-button>
        <ion-icon name="arrow-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons> 
    <ion-title class="ion-no-padding ion-no-margin">
    {{ userDetailForm.value.firstname ? userDetailForm.value.firstname : ''}} {{ userDetailForm.value.lastname ? userDetailForm.value.lastname : ''}}
    </ion-title>
  </ion-toolbar>
</ion-header>

 <!--   -->

<ion-content #scrollArea scrollEvents="true"  class="user-profil">

  <p class="ion-margin-start ion-margin-end" *ngIf="canShowBackButton === 'yes'">
    <ion-icon name="information-circle-outline"></ion-icon>
    {{'COMPLETE_PROFIL_MSG_TEXT' | translate}}
   </p>

  <form [formGroup]="userDetailForm">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'MATRICULE_TEXT' | translate }} : </ion-label>
            <ion-input type="text"  formControlName="matriculeForm"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'FIRSTNAME_TEXT' | translate }}* : </ion-label>
            <ion-input type="text"  formControlName="firstname" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.firstname">
              <div class="error-message"
                *ngIf="firstName.hasError(validation.type) && (firstName.dirty || firstName.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'LASTNAME_TEXT' | translate }}* : </ion-label>
            <ion-input type="text"   formControlName="lastname" required></ion-input>
          </ion-item>
            <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.lastName">
              <div class="error-message"
                *ngIf="lastName.hasError(validation.type) && (lastName.dirty || lastName.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div> 
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'GENDER_TEXT' | translate }}* : </ion-label>
            <ion-select formControlName="sexe">
              <ion-select-option value="M">{{ 'MALE_TEXT' | translate }}</ion-select-option>
              <ion-select-option value="F">{{ 'FEMALE_TEXT' | translate }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item  (click)="showCountries()">
            <ion-label>{{'COUNTRY_TEXT' | translate}}* : </ion-label>
            <p><strong> {{ userDetailForm.value.countryName }} </strong> </p>          
            <ion-icon  name="caret-down" slot="end"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
 

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'EMAIL_TEXT' | translate }}* :</ion-label>
            <ion-input (ionChange)="checkEmail(userDetailForm.value.email)" type="email"  formControlName="email"></ion-input>
          </ion-item>
            <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.email">
              <div class="error-message"
                *ngIf="emailError.hasError(validation.type) && (emailError.dirty || emailError.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>  

          <div class="validation-errors" *ngIf="errorEmail && (emailError.dirty || emailError.touched)">
              <div class="error-message">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="'EMAIL_ERROR_TEXT' | translate"></span>
              </div>
          </div>  
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-item>
            <ion-label>{{ 'PHONE_TEXT' | translate }}* :</ion-label>
            <ion-input type="tel" (ionChange)="checkPhone(userDetailForm.value.phone)"  formControlName="phone"></ion-input>
          </ion-item>
           <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.phone">
              <div class="error-message"
                *ngIf="phoneError.hasError(validation.type) && (phoneError.dirty || phoneError.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div> 
          
          <div class="validation-errors" *ngIf="errorPhone && (phoneError.dirty || phoneError.touched)">
            <div class="error-message">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span [innerHTML]="'PHONE_ERROR_TEXT' | translate"></span>
            </div>
        </div> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <div class="ion-padding ion-text-center">
    <ion-button expand="full" color="success"
    class="ion-text-uppercase" shape="round" [disabled]="errorPhone || errorEmail ||  userDetailForm.invalid" (click)="updateAccount()">
    {{ canShowBackButton === 'yes' ? ('COMPLETE_PROFIL_TEXT' | translate) : ('UPDATE_TEXT' | translate) }}
  </ion-button>
  <ion-spinner *ngIf="loading" name="circles"></ion-spinner>
  </div>

  <div style="min-height: 100px;"></div>

</ion-content>

