<ion-header >
  <ion-toolbar class="with-logo2">   
    <ion-title>
      <ion-row>
        <ion-col size="3"><ion-img [src]="'assets/img/logo.png'"></ion-img></ion-col>
        <ion-col size="9"><h6>SMS SCHOOL ALERT</h6> </ion-col>
      </ion-row>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openContextMenu($event)">
        <ion-icon md="ellipsis-vertical" ios="ellipsis-horizontal-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center no-padding dashboard">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" [routerLink]="['program',currentUser.classe_id]">
        <ion-img [src]="'assets/img/course1.png'" class="thumb-img"></ion-img>
        <ion-label>{{ 'MENU_STUDENT_TEXT_1' | translate }}</ion-label>       
      </ion-col>
      <ion-col size="5"  [routerLink]="['course',currentUser.classe_id]">
        <ion-img [src]="'assets/img/course2.png'" class="thumb-img"></ion-img>
        <ion-label>{{ 'MENU_STUDENT_TEXT_2' | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" routerLink="/user/user-profil">
        <ion-img [src]="'assets/img/course3.png'" class="thumb-img"></ion-img>
        <ion-label>{{ 'MENU_STUDENT_TEXT_3' | translate }}</ion-label>           
      </ion-col>
      <ion-col size="5"  [routerLink]="['syllabus',currentUser.classe_id]">
        <ion-img [src]="'assets/img/course4.png'" class="thumb-img"></ion-img>
        <ion-label>{{ 'MENU_STUDENT_TEXT_4' | translate }}</ion-label>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
