<ion-list class="ion-padding-top" class="dashboard-menu-popover">
  <ion-item (click)="view()" lines="none">
    <ion-label>
      {{ 'VIEW_TEXT' | translate }}
    </ion-label>
  </ion-item>

  <ion-item (click)="edit()" lines="none">
    <ion-label>
      {{ 'EDIT_TEXT' | translate }}
    </ion-label>
  </ion-item>
</ion-list>