<ion-header>
  <ion-toolbar class="app-header">
    <ion-title class="ion-padding">
      {{ 'EDIT_TEXTBOOK_TEXT' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="user-profil">

  <form [formGroup]="textbookForm">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'CHAPTER_TEXT' | translate }}* : </ion-label>
            <ion-select  (ionChange)="getAllSubChapter(textbookForm.value.chapitre_id,classDataId,courseDataId)" [disabled]="chapters && chapters.length === 0" formControlName="chapitre_id">
              <ion-select-option [value]="chapter.id" *ngFor="let chapter of chapters">{{chapter.name}}</ion-select-option>
            </ion-select>
          </ion-item>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.chapterId">
              <div class="error-message"
                *ngIf="chapterId.hasError(validation.type) && (chapterId.dirty || chapterId.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'SUB_CHAPTER_TEXT' | translate }}* : </ion-label>
            <ion-select (ionChange)="getAllSubChapterSubTitle(textbookForm.value.sous_chapitre_id,classDataId,courseDataId)" [disabled]="subChapters && subChapters.length === 0" formControlName="sous_chapitre_id">
              <ion-select-option [value]="subChapter.id" *ngFor="let subChapter of subChapters">{{subChapter.name}}</ion-select-option>
            </ion-select>
          </ion-item>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.subChapterId">
              <div class="error-message"
                *ngIf="subChapterId.hasError(validation.type) && (subChapterId.dirty || subChapterId.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'SUB_TITLE_TEXT' | translate }}* : </ion-label>
            <ion-select  [disabled]="subTitles && subTitles.length === 0" formControlName="sous_titre_chapitre_id">
              <ion-select-option [value]="subTitle.id" *ngFor="let subTitle of subTitles"> {{subTitle.name}}</ion-select-option>
            </ion-select>
          </ion-item>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.subTitleId">
              <div class="error-message"
                *ngIf="subTitleId.hasError(validation.type) && (subTitleId.dirty || subTitleId.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'ADVISE_TEXT' | translate }}* :</ion-label>
            <ion-textarea rows="5" type="text" formControlName="avis_prof"></ion-textarea>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.advise">
              <div class="error-message" *ngIf="advise.hasError(validation.type) && (advise.dirty || advise.touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span [innerHTML]="validation.message"></span>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>

<ion-footer class="ion-padding ion-text-center">
  <ion-button expand="full" color="success" class="ion-text-uppercase" shape="round"
    [disabled]="loading ||  textbookForm.invalid" (click)="updateTextbookFullfill()">
    {{ 'UPDATE_TEXT' | translate }}
  </ion-button>
  <ion-spinner *ngIf="loading" name="circles"></ion-spinner>
</ion-footer>