<ion-header>
  <ion-toolbar class="app-header">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tutorial" slot="text-only"></ion-back-button>
    </ion-buttons>   
    <ion-title class="ion-text-start">{{'USER_LOGIN_TEXT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="login-page" [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col class="ion-align-self-center" offset-md="2" size-md="8"  size="12">
        <form [formGroup]="login">
          <div class="logo">
            <img src="assets/img/logo_text.png">
          </div>
          
          <ion-list color="light" class="ion-margin">
            <ion-item  >
              <ion-input type="text" placeholder="{{ 'MATRICULE_TEXT' | translate }}" formControlName="matricule"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.matricule">
                <div class="error-message" *ngIf="matricule.hasError(validation.type) && (matricule.dirty || matricule.touched)">
                  <ion-icon name="information-circle-outline" ></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div> 
            <ion-item   class="ion-no-inner-padding-end">
              <ion-input [type]="canShow ? 'text' : 'password'" placeholder="{{ 'PASSWORD_TEXT' | translate }}" formControlName="password"></ion-input>
              <ion-button slot="end" fill="clear" class="ion-no-margin" (click)="updateType()" >
                <ion-icon slot="icon-only"  color="dark" [name]="canShow ? 'eye-off' : 'eye'" ></ion-icon>
              </ion-button>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.password">
                <div class="error-message" *ngIf="password.hasError(validation.type) && (password.dirty || password.touched)">
                  <ion-icon name="information-circle-outline" ></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
     
          </ion-list>
          <!-- onLogin()-->
          <ion-button (click)="onLogin()" color="success" expand="block" class="ion-margin-start ion-margin-end ion-margin-bottom" 
            [disabled]="!login.valid || loading">
          {{ 'SIGN_IN_TEXT' | translate }}
          </ion-button>
          <p class="ion-text-center">
            <ion-text>{{ 'OR_TEXT' | translate }}</ion-text>
          </p>
         
          <ion-button  color="danger" expand="block" class="ion-margin" [routerLink]="[ '/','user','user-forgot-pass' ]"
            routerDirection="forward">
            {{'FORGOT_PASSWORD_QUESTION_TEXT' | translate}}
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>