/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/** Start General css **/

.error-message {
    color: red;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}


a {
    color: var(--ion-color-success);
}


ion-toolbar.app-header {
    --background: transparent;
    --color:#fff;
    background-image: linear-gradient( to right,#1a202e,#5ca309);
}


ion-toolbar.subtitle {
    .title-ios.title-default,
    .title-md.title-default {
        padding-inline-start: 5px;
        padding-inline-end: 5px;
        font-weight: 400;
        font-size: 1.1rem;
    }
}

.searchbar-input.sc-ion-searchbar-md {
    box-shadow: none;
    border: 1px solid #dcdcdc;
    background: gainsboro;
    border-radius: 15px;
}


// Horizontal container
*[scrollX=true] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .scrollX {
        flex: 0 0 auto;
    }
}

/** End General css **/


/* Toolbar with logo **/


/*********************/


/* Start Welcome page*/
#welcome {

    #container {  
        text-align: center;
      
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
        transform: translateY(-50%);
      }
      
      #container p {
        font-size: 16px;
        line-height: 2px;
        color: #29c467;
        margin: -80px;
      }
      
      #container ion-img {
        width: 300px;
        height: 300px;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
       
      }
      
      #term {
        position: absolute;
        top: 75%;
        p {
            padding: 1rem;
        }
      }
}
/* End Welcome page*/



/* custom the profil style */

#profil-toolbar {

.toolbar-img {
    --background: none;
    --min-height: 300px;
    --background: linear-gradient(45deg, rgba(76,185,196,.4) 0%, rgba(61,211,174,.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb9c4', endColorstr='#3dd3ae', GradientType=.4 );
 
    ion-buttons {
        position: absolute;
        top: 0;
    }
    ion-buttons[slot="end"] {
        right: 0;    }
    
}
.toolbar-img-title {
    position: absolute;
    bottom: 0;
    left: 1rem;
    --background: transparent;
    ion-buttons {
        display: none;
    }
    ion-title {        
        font-weight: bolder;
        font-family: sans-serif;
        font-size: 1.5rem;
        margin-left: 1rem;
        color: var(--ion-color-primary-contrast);
    }
    ion-title.ios {
        margin-left: 0;
        padding: 0 10px;
    }
}
.toolbar-img-title {
    left: 0;
}
ion-toolbar[style*="opacity: 0"] ~ .toolbar-img-title {
    --background: transparent;
    background-image: linear-gradient( to right,#1a202e,#5ca309);
    ion-title { 
        color: #fff;
        font-family: var(--ion-font-family,inherit);
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.0125em;
        margin-left: 10px;        
    }
    .title-ios {
        padding-left: 4.2rem;
    }
    ion-buttons {
        display: block;
    }
}

}


/* Tutorial page */

#tutorial {
    ion-slides {
        height: 100%;

        ion-slide {

            background: #f0f3fb;

            .tuto-image {
                width : 50%;
                height: 50%;
                ion-img {
                    min-height: auto;
                }

                p {
                    font-size: 2rem;
                }
            }
    
            .tuto-des {
                width: 50%;
                height: 50%;
                background: transparent;
                p {
                    margin: 2rem;
                    font-size: .9rem;
                    text-align: left;
                }
            }

        }
    }

    .swiper-pagination-bullet-active {
        background: #2dd36f;
    }

}


/** Login page*/

 #login-page {
    .logo {
        height: 12rem;
    }
}

/** custom user profil page **/

.user-profil { 
    ion-label {
        opacity: .4;
    }
}

.share-popover, .role-popover, .delete-popover {
    ion-backdrop {
        background-color: #000;
    }
    div.popover-content {
        margin: auto;
        width: 80%;
        left: 11% !important;
        top: 30% !important;
    }
    h4 {
        font-weight: 400;
        color: var(--ion-color-primary);
        padding-bottom: 5px;
        border-bottom: 1px solid var(--ion-color-primary);
    }
  
}


/* Media  query */
@media (min-width: 992px) {
  
    /* Welcome page*/
    #welcome {
    #term {
        position: absolute;
        top: 65%;
        p {
            padding: 12rem;
        }
      }
    }

    #login-page {
        .logo {
            height: 30rem;
            img { 
                padding: 2rem;
            }
           
        }
    }

#tutorial {
    ion-slides {
       
        height: 100%;
        ion-slide {
            .tuto-image {
                width : 50%;
                height: 50%;
                ion-img {
                    min-height: auto;
                }
            }
            .tuto-des {
                width: 50%;
                height: 50%;
                padding: 2rem;
                background: transparent;
                p {
                    margin: 2rem;
                    font-size: 2rem;
                    text-align: left;
                }
            }
        }
    }

}

}
