<ion-list class="ion-padding-top" class="dashboard-menu-popover">
  <ion-item (click)="editTextBook()" lines="none">
    <ion-label>
      {{ 'EDIT_TEXTBOOK_TEXT' | translate }}
    </ion-label>
  </ion-item>

  <ion-item (click)="studentAdvise()" lines="none">
    <ion-label>
      {{ 'STUDENT_ADVISE' | translate }}
    </ion-label>
  </ion-item>

  <ion-item (click)="delteTextBook()" lines="none">
    <ion-label>
      {{ 'DELETE_TEXTBOOK_TEXT' | translate }}
    </ion-label>
  </ion-item>
</ion-list>