<ion-grid>     
  <ion-row>
    <ion-col>
      <h4>{{ 'DELETE_TEXT' | translate }}</h4> 
      <p> {{ 'DELETE_ADVISE_MESSAGE' | translate }} </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button color="light" fill="outline" (click)="close()">{{ 'NO_TEXT' | translate }}</ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button color="success" (click)="deleteComment()">{{'YES_TEXT' | translate }}</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>