<ion-header [translucent]="true">
  <ion-toolbar  class="app-header">
    <ion-title class="ion-text-center" >
      {{ 'WELCOME_TEXT' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  id="welcome">

  <div id="container">
    <ion-img src="assets/img/logo_text.png"></ion-img>
  </div>

  <div id="term">
    <p class="ion-padding" (click)="openTerme($event)" [innerHTML]="'TERMS_AND_CONDITIONS' | translate">
    </p>
  </div>


</ion-content>

<ion-footer class="ion-no-border"  (click)="nextButton()" >
  <ion-toolbar color="success" >
    <ion-title color="light" class="ion-text-center"> {{ 'NEXT_BUTTON' | translate }}</ion-title>
  </ion-toolbar>
</ion-footer>
