.course-card {
    ion-row {
        ion-col { 
            &:first-child{
               font-weight: bold;
            }
        }
    }
}

.post-list-card {
    background-color: #f2f2f2;
    ion-item {
        ion-label {
            p {
                span {
                    color: var(--ion-color-success);
                    opacity: .5;
                }
        
            }
        }
    }
}

.post-list-content {
    color: #222;
    p {
        ion-text {
            background-color: #222;
           color:#fff;
           margin: .3rem;
        }
        
    }
}