<ion-header>
  <ion-toolbar class="app-header">
    <ion-buttons slot="start">
      <ion-back-button color="light" [defaultHref]="'/student/syllabus/' + classID" slot="text-only"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding ion-no-margin">
      {{ 'SYLLABUS_TEXT' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-refresher slot="fixed" style="--ion-text-color: var(--ion-color-medium);" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>

  <p class="ion-text-center"  *ngIf="loading">
    <ion-spinner  name="circles"></ion-spinner>
  </p>

    <!-- Users syllabus -->
  
      <ion-grid>
        <ion-row>
        <ion-col size="12"   *ngFor="let chapter of chapters">
        <div class="syllabus-number">
        {{chapter.numero}}
        </div>
        <div class="syllabus-content">
            <h1>{{chapter.name}} </h1>
            <p>{{chapter.description}} </p>
        </div>
        </ion-col>
        </ion-row>
      </ion-grid>
    
    <div *ngIf="chapters && chapters.length === 0 && !loading">
      <p class="ion-text-center ion-padding">
        {{'EMPTY_SYLLABUS_TEXT' | translate}}
      </p>
    </div>
</ion-content>